.button {
    all: unset;
    display: inline-block;
    text-align: center;
    white-space: nowrap;

    color: black;
    background-color: white;
    border: 4px solid var(--ui-border-color);

    padding: 1px 6px;

    &:hover:not(:disabled),
    &:active:not(:disabled) {
        color: white;
        background-color: var(--ui-border-color);
        border: 4px solid var(--ui-border-color);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(179, 134, 0, 0.4);
    }

    &:disabled {
        background-color: #aaaaaa;
        border: 4px solid #4d4d4d;
    }

    &:not(:disabled) {
        cursor: pointer;
    }
}
