.dialog-overlay {
    all: unset;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(45, 90%, 10%, 0.5);
    overflow-y: scroll;

    .dialog-panel {
        padding: 0.5rem 0;
        max-width: 30em;
        width: 90vw;
        position: absolute;
        right: calc(50% - var(--angle-size) * 1.5);
        /* TO CENTER -> uncomment next line and change the transform to translate(50%, -50%)*/
        /* top: 50%; */
        transform: translate(50%, 0);
    }

    .close-dialog {
        text-align: right;
        margin-bottom: 5px;
    }

    &:not([open]) {
        display: none;
    }
}
