.panel {
    --angle-size: 15px;
    --color: rgba(0, 0, 0, 0.8157);
    position: relative;
    background-color: var(--color);

    margin: var(--angle-size);
    padding: 0px;
    padding-right: calc(var(--angle-size) + 5px);
    padding-left: 5px;
    min-width: 25rem;

    .corner {
        position: absolute;
        border-width: var(--angle-size) var(--angle-size) 0px 0px;
        border-style: solid;

        &.corner-top-left {
            top: calc(var(--angle-size) * -1);
            left: calc(var(--angle-size) * -1);
            border-color: transparent var(--color) var(--color) transparent;
        }

        &.corner-bottom-left {
            top: 100%;
            left: calc(var(--angle-size) * -1);
            border-color: transparent var(--color) var(--color) transparent;
            transform: rotate(-90deg);
        }
    }

    .border {
        position: absolute;
        background-color: var(--color);
        &.border-top {
            top: calc(var(--angle-size) * -1);
            left: 0;
            width: 100%;
            height: var(--angle-size);
        }
        &.border-left {
            top: 0;
            left: calc(var(--angle-size) * -1);
            width: var(--angle-size);
            height: 100%;
        }
        &.border-bottom {
            top: 100%;
            left: 0;
            width: 100%;
            height: var(--angle-size);
        }
    }
}
